@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
}

/*------------global-----------*/
.container {
  max-width: 85%;
  margin: auto;
}

.flexSB {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #f36523;
  transition: 0.5s;
}

.icon:hover {
  cursor: pointer;
  background-color: #f36523;
  color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.row {
  width: 50%;
}

button {
  padding: 17px 30px;
  background-color: #fff;
  color: #f36523;
  font-weight: 600;
  border: none;
  margin: 30px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  transition: 0.5s;
}

button i {
  margin-left: 20px;
}

button:hover {
  box-shadow: none;
}

.primary-btn {
  background-color: #f36523;
  color: #fff;
}

/*------------global-----------*/
#heading {
  text-align: center;
  padding: 40px 0;
}

#heading h3 {
  font-weight: 600;
  letter-spacing: 1px;
  color: #f36523;
  text-transform: uppercase;
}

#heading h1 {
  font-size: 45px;
  margin: 20px 0;
  text-transform: capitalize;
}

p {
  line-height: 30px;
  font-size: 18px;
}

.back {
  background-image: url('../public/images/back.webp');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 50vh;
  padding-top: 15%;
  /* Adjusted padding for vertical centering */
  padding-right: 50px;
  color: #fff;
  text-align: center;
}

.backV2 {
  background-image: url('../public/images/back.webp');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 50vh;
  /* Adjust the height as needed */
  padding-top: 30%;
  padding-right: 50px;
  color: #fff;
  text-align: center;
}


.back h1 {
  font-size: 100px;
  font-weight: 400;
}

.back h2 {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
}

.margin {
  margin-top: 35vh;
}

.marginV2 {
  margin-top: 11.3%;
}

.backPlain {
  background: linear-gradient(135deg, #9DC8D1 0%, #76AAB6 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 45vh;
  padding-top: 18%;
  padding-right: 50px;
  color: #fff;
  text-align: center;
}

.backPlain h1 {
  font-size: 100px;
  font-weight: 400;
  color: #fff;
}

.backPlain h2 {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
}

.marginPlain {
  margin-top: 35vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.flex {
  display: flex;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #1eb2a6;
  width: 100%;
  transition: 0.5s;
}

.outline-btn:hover {
  background-color: #1eb2a6;
  color: #fff;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.padding {
  padding: 80px 0;
}

.shadow {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .back h1 {
    font-size: 60px;
  }

  .back h2 {
    font-size: 15px;
  }

  .back {
    padding-top: 18%;
    height: 45vh;
    padding-left: 20px;
    padding-right: 20px;
  }

  .margin {
    margin-top: 40vh;
  }
}

@media screen and (max-width: 768px) {

  .grid2,
  .grid3,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .back {
    background-position: center;
    padding-top: 20%;
    height: 40vh;
    padding-left: 15px;
    padding-right: 15px;
  }

  .back h1 {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .back h2 {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .margin {
    margin-top: 35vh;
  }

  .backV2 {
    padding-top: 25%;
    height: 40vh;
    padding-left: 15px;
    padding-right: 15px;
  }

  .backPlain {
    padding-top: 20%;
    height: 40vh;
    padding-left: 15px;
    padding-right: 15px;
  }

  .backPlain h1 {
    font-size: 42px;
    line-height: 1.2;
  }

  .backPlain h2 {
    font-size: 13px;
  }

  .marginPlain {
    margin-top: 35vh;
  }
}

@media screen and (max-width: 480px) {
  .back {
    background-attachment: scroll;
    padding-top: 18%;
    height: 35vh;
    padding-left: 10px;
    padding-right: 10px;
  }

  .back h1 {
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 8px;
    word-wrap: break-word;
  }

  .back h2 {
    font-size: 11px;
    margin-bottom: 12px;
    letter-spacing: 0.5px;
  }

  .margin {
    margin-top: 30vh;
  }

  .backV2 {
    background-attachment: scroll;
    padding-top: 20%;
    height: 35vh;
    padding-left: 10px;
    padding-right: 10px;
  }

  .backPlain {
    padding-top: 18%;
    height: 35vh;
    padding-left: 10px;
    padding-right: 10px;
  }

  .backPlain h1 {
    font-size: 28px;
    line-height: 1.3;
    word-wrap: break-word;
  }

  .backPlain h2 {
    font-size: 11px;
    letter-spacing: 0.5px;
  }

  .marginPlain {
    margin-top: 30vh;
  }
}